In [1]:
import pandas as pd

HOMEWORK INSTRUCTIONS
Your task is to create a Python script that analyzes the records to calculate each of the following:
The total number of months included in the dataset.
The net total amount of Profit/Losses over the entire period.
The average of the changes in Profit/Losses over the entire period.
The greatest increase in profits (date and amount) over the entire period.
The greatest decrease in losses (date and amount) over the entire period.

Your resulting analysis should look similar to the following:
Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average  Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159)
Greatest Decrease in Profits: Sep-2013 ($-2196167)

Your final script should print the analysis to the terminal and export a text file with the results.

In [22]:
from pathlib import Path

In [23]:
csvpath = Path('/Users/jeneia/Desktop/FinTech Bootcamp/Homework/python-homework-master/02-Homework_02-Python_Instructions_PyBank_Resources_budget_data.csv')

In [24]:
budgetfile = pd.read_csv(csvpath)
budgetfile.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [9]:
budgetfile.describe()

       Profit/Losses
count   8.600000e+01
mean    4.463090e+05
std     5.363579e+05
min    -1.196225e+06
25%     1.821620e+05
50%     5.703280e+05
75%     7.952262e+05
max     1.170593e+06

In [26]:
budgetfile = budgetfile.rename(columns={
    "Date":"date",
    "Profit/Losses":"profit_losses"})
budgetfile.head()

       date  profit_losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [69]:
total_months = budgetfile.count()
print(total_months)
type(total_months)

date             86
profit_losses    86
difference       86
dtype: int64

pandas.core.series.Series

In [73]:
Total_months = len(budgetfile)
print(Total_months)

86

In [29]:
total = budgetfile["profit_losses"].sum()
print(total)

38382578

In [30]:
max = budgetfile["profit_losses"].max()
print(max)

1170593

In [31]:
min = budgetfile["profit_losses"].min()
print(min)

-1196225

In [49]:
budgetfile["difference"] = budgetfile["profit_losses"] - budgetfile['profit_losses'].shift(1)
budgetfile["difference"][-1] = budgetfile['difference'].shift(-1)
budgetfile

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

        date  profit_losses  difference
0   Jan-2010         867884         NaN
1   Feb-2010         984655    116771.0
2   Mar-2010         322013   -662642.0
3   Apr-2010         -69417   -391430.0
4   May-2010         310503    379920.0
..       ...            ...         ...
81  Oct-2016         102685   -665765.0
82  Nov-2016         795914    693229.0
83  Dec-2016          60988   -734926.0
84  Jan-2017         138230     77242.0
85  Feb-2017         671099    532869.0

[86 rows x 3 columns]

In [50]:
type(budgetfile)

pandas.core.frame.DataFrame

In [51]:
budgetfile.dtypes

date              object
profit_losses      int64
difference       float64
dtype: object

In [54]:
budgetfile['difference'] = budgetfile['difference'].fillna(0)
budgetfile

        date  profit_losses difference
0   Jan-2010         867884          0
1   Feb-2010         984655     116771
2   Mar-2010         322013    -662642
3   Apr-2010         -69417    -391430
4   May-2010         310503     379920
..       ...            ...        ...
81  Oct-2016         102685    -665765
82  Nov-2016         795914     693229
83  Dec-2016          60988    -734926
84  Jan-2017         138230      77242
85  Feb-2017         671099     532869

[86 rows x 3 columns]

In [55]:
budgetfile['difference'] = budgetfile['difference'].astype(int)

In [56]:
max_difference = budgetfile["difference"].max()
print(max_difference)

1926159

In [57]:
min_difference = budgetfile["difference"].min()
print(min_difference)

-2196167

In [81]:
mean_PL = budgetfile["profit_losses"].diff().mean()
print(mean_PL)

-2315.1176470588234

In [83]:
Mean_PL = round(mean_PL,2)
print(Mean_PL)

-2315.12

In [86]:
print("Financial Analysis")
print("----------------------")
print(f"Total Months: {Total_months}")
print(f"Total: ${total}")
print(f"Average Change: ${Mean_PL}")
print(f"Greatest Increase in Profits: Feb-2012 $({max_difference})")
print(f"Greatest Decrease in Profits: Sep-2013 $({min_difference})")

Financial Analysis
----------------------
Total Months: 86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits: Feb-2012 $(1926159)
Greatest Decrease in Profits: Sep-2013 $(-2196167)

In [91]:
print(
f"Financial Analysis" '\n'
f"----------------------" '\n'
f"Total Months: {Total_months}" '\n'
f"Total: ${total}" '\n'
f"Average Change: ${Mean_PL}" '\n'
f"Greatest Increase in Profits: Feb-2012 $({max_difference})" '\n'
f"Greatest Decrease in Profits: Sep-2013 $({min_difference})",
    file = open('output.txt', 'a'))

print(
f"Financial Analysis" '\n'
f"----------------------" '\n'
f"Total Months: {Total_months}" '\n'
f"Total: ${total}" '\n'
f"Average Change: ${Mean_PL}" '\n'
f"Greatest Increase in Profits: Feb-2012 $({max_difference})" '\n'
f"Greatest Decrease in Profits: Sep-2013 $({min_difference})" 
    file = open('output.txt', 'a'))